html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #EDCDBB;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
  flex: 1;
}

.center {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.bottom {
  flex: 1;
}

.left-middle {
  flex: 1;
}

.center-middle {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-middle {
  flex: 1;
}

.center-img-container {
  flex: 1;
  display: "inline-block";
  width: 100%;
  height: 100%;
}

.center-img {
  width: 100%;
  height: auto;
  display: flex;
}

.top-tabs-container {
  width: 100%;
  position: 'fixed';
  margin-left: "auto";
  margin-right: "auto";
}

.top-tabs {
  background-color: #E3B7A0;
  display: flex;
}

.center-info-container {
  flex: 1;
  display: "inline-block";
  width: 100%;
  height: 100%;
}

.wedding-info {
  background-color: white;
  width: 100%;
  height: 100%;
}

.wedding-info-container {
  text-align: center;
}

.wedding-info-text-container {
  flex: 1;
  text-align: left;
  padding: 20px;
}
