html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #EDCDBB;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
  flex: 1;
}

.center {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.bottom {
  flex: 1;
}

.left-middle {
  flex: 1;
}

.center-middle {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-middle {
  flex: 1;
}

.center-img-container {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  background: #555;
  position: relative;
}

.center-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #999;
  text-align: center;
  width: 100%;
  height: auto;
  min-width: 150vh;
}

.top-tabs-container {
  width: 100%;
  position: 'fixed';
  margin-left: "auto";
  margin-right: "auto";
}

.top-tabs {
  background-color: #E3B7A0;
  display: flex;
  /* height: 100%; */
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.center-info-container {
  margin-top: 15%;
  flex: 1;
  display: "inline-block";
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.wedding-info {
  background-color: white;
  width: 50%;
  height: auto;
}

.wedding-info-container {
  text-align: center;
}

.wedding-info-text-container {
  flex: 1;
  text-align: left;
  padding: 20px;
  padding-bottom: 0px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #E3B7A0;
  height: 25px;
  color: #894613;
  text-shadow: #894613;
  font-weight: 1000;
}

.wedding-info-right-side {
  display: flex;
  flex: 1;
}

.wedding-info-left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wedding-info-venue-container {
  flex: 1;
}

.wedding-info-basic-info-container {
  flex: 3;
}

.wedding-info-schedule-container {
  flex: 1;
  display: flex;
}
.wedding-info-schedule {
  background-color: white;
  flex: 1;
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
  box-shadow: 10px 5px 5px black;
  display: flex;
}

.center-info-container-wedding-info {
  /* margin-top: 15%; */
  flex: 1;
  display: "inline-block";
  width: 100%;
  height: 100%;
  display: flex;
}

.center-info-container-things-to-do {
  margin-top: 5%;
  flex: 1;
  display: "inline-block";
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.wedding-info-schedule-text {
  flex: 1;
}

.wedding-info-venue-img {
  /* display: block; */
  /* text-align: center; */
  width: 75%;
  padding: 1%;
  margin: 10%;
  /* overflow: 'hidden'; */
  /* height: auto; */
  /* min-width: 150vh; */
}

.pic-by-text-container {
  display: flex;
}

.pic-by-text-container-text {
  flex: 3;
  background-color: white;
  margin: 20px;
}

.pic-by-text-container-img {
  flex: 1;
  background-color: white;
  margin: 20px;
}
